div #primaryDropdownMenu { display: none; position: absolute; margin-right: -45px; padding: 5px; 
		a { padding-left: 10px; text-align: center; }
}

#secondaryNavbar { background: #fff; position: fixed; width: 100%; z-index: 3; }
.secondaryNavLink { padding: 7px 0 0; }
.secondaryNavLink:hover { border-bottom: 2px solid #000; }
#userImage { width: 20px; }
